.calculater {
    border: 5px solid rgb(48, 47, 47);
    width: 250px;
    margin: 10px;
    border-radius: 15px;
    background-color: black;
}

.display {
    margin: 10px;
    font-weight: 200px;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    width: 45px;
    height: 45px;
    margin: 12px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
}